
/* CSS Box Model */

h1{
    background: red;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 60px;
}

p{
    background: skyblue;
    /* padding: 50px; */
    /* padding: 40px 50px; */
    padding: 20px 40px 60px 10px;

}