/* vh - height - percent of the screen  */
/* vw - width - percent of the screen */




.green {
    width: 50vw;
    height: 50vh;
    background: yellowgreen;
}

.Yellow{
    background: blue;
    width: 100vw;
    height: 100vw;
}